{% extends "base.html" %}

{% block head %}
<title>Log In</title>
{% endblock %}

{% block body %}

<form action="/checkLogin" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    
{% endblock %}